@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
  max-width: 96%;
  margin: 0 auto;
}

@media only screen and (min-width: 1536px) {
  .wrapper {
    max-width: 90%;
  }
}

.bg-gray {
  background-color: rgba(242, 242, 242, 1);
}

.swiper {
  width: 85%;
  overflow: visible !important;
}

.multiCards{
  width: 100% !important;
  overflow: hidden !important;
  z-index: 9 !important;
  position: relative !important;
}

.goodsCards{
  width: 90% ;
  overflow: hidden !important;
  margin: auto;

}

.goodsCards

.multiCards .swiper-button-next:after,
.swiper-button-prev:after {
  width: 10px !important;
  height: 10px !important;
  font-size: 1.8rem !important;
  color: black !important;
}

.multiCards .swiper-button-next:after {
  width: 10px !important;
  height: 10px !important;
  font-size: 1.8rem !important;
  color: black !important;
  /* transform: translateX(300%); */
  /* z-index: 90000 !important;
  position:absolute !important;
  left: 210% !important; */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  width: 10px !important;
  height: 10px !important;
  font-size: 1.8rem !important;
  color: orange !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: -36px var(--swiper-pagination-bullet-horizontal-gap, 4px) !important;
  background-color: orange !important;
}
@font-face{
  font-family: "Yantramanav";
  src: url('./Yantramanav-Thin/yantramanav/Yantramanav-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}